<!-- News#show  show.html.erb page -->

<div id="newsFeeds2">
  <h3>More news feeds up to date</h3>
  <% f1 = Feedjira::Feed.fetch_and_parse("http://feeds.finance.yahoo.com/rss/2.0/headline?s=yhoo&region=US&lang=en-US") %>
  <% f1.entries.each do |entry| %>
    <li><%= entry.title %></li>
  <% end %>

</div>

<br>
<%= link_to("Back Home", root_path) %>
