body {
    background-color: #33CCFF;
}

#myTitle{
  font-size: 100%;
  vertical-align: middle;
}

/*tr:nth-child(even) {
    background-color: gray;
}*/

#theNav{
  font-family: 'Dancing Script', cursive;
}

.tableCenter {
  margin: 0 auto;

}

#allStocks {
  margin: 0 auto;
}
