// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#allAccounts{
  // background-color: #b0c4de;
  background-color: #81A4FF;
  text-align: center;
  border-style: solid;
}

#specAccounts{
  background-color: white;

}

#searchStocks{
  // background-color: #6666FF;
  background-color: #81A4FF;

}

#allStocks{
  // background-color: #b0c4de;
  text-align: center;
  border-style: solid;

}

#specStocks{
  background-color: white;

}

#allTrans{
  h3 {

  }


}

#newsFeeds{
  background-color: #0099FF;
}

div {width: 100%}


#contact
{
    display: none;
    background: grey;
    color: #FFF;
    padding: 10px;
}

.alerts{
  border-style: solid;
}
