// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#allAccounts{
  background-color: #b0c4de;
  border-style: solid;
}

#specAccounts{
  background-color: #99FFFF;

}

#searchStocks{
  background-color: #FFCCCC;

}

#allStocks{
  background-color: #3399FF;

}
