// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#allAccounts{
  background-color: #b0c4de;
  border-style: solid;
}

#specAccounts{
  background-color: #99FFFF;

}

#searchStocks{
  background-color: #6666FF;

}

#allStocks{
  background-color: #3399FF;

}

#allTrans{
  background-color: #0099CC;

}

#newsFeeds{
  background-color: #0099FF;
}

div {width: 100%}


#contact
{
    display: none;
    background: grey;
    color: #FFF;
    padding: 10px;
}
