<h2>This is the transaction show page</h2>

this is transaction: <%= @transaction.id %>
<br>
<% @feed = Feed.find(@transaction.feed_id) %>
<h2>Ticker: <%= @feed.ticker %> </h2>

<br>

<h2>The buy date is <%= @transaction.buyDate %>

<h3>The buy price is <%= @transaction.buyPrice %>
